<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	default-lazy-init="true" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:property-placeholder
		location="classpath*:/config.properties,classpath*:/default.properties" />

	<bean id="headers" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key="Accept-Encoding" value="gzip,deflate,sdch" />
				<entry key="Accept-Language" value="en-US,en;q=0.8" />
				<entry key="Accept-Charset" value="ISO-8859-1,utf-8;q=0.7,*;q=0.3" />
				<entry key="Accept" value="application/json, text/javascript, */*" />
				<entry key="X-Requested-With" value="XMLHttpRequest" />
				<entry key="Content-Type" value="application/x-www-form-urlencoded" />
				<entry key="Origin" value="https://dynamic.12306.cn" />
				<entry key="Host" value="dynamic.12306.cn" />
			</map>
		</constructor-arg>
	</bean>

	<import resource="classpath:/httpclient/spring-httpclient-ssl.xml" />
	<import resource="classpath:/httpclient/spring-httpclient.xml" />
	<import resource="classpath*:/spring-constants.xml" />
	<import resource="classpath*:/spring-login.xml" />
	<import resource="classpath*:/spring-query.xml" />

</beans>