<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:property-placeholder ignore-unresolvable="true" location="classpath:/config.properties" />	
			  
	<!-- 各种系统配置 -->
	<bean id="constants" class="com.cxjava.ticket.utils.Constants" lazy-init="false">
		<!-- 票的数量 -->
		<property name="seatNumMap">
			<map>
				<entry key="有" value="1000" />
				<entry key="无" value="0" />
				<entry key="--" value="-1" />
				<entry key="*" value="-1" />
			</map>
		</property>
		<property name="seatNameMap">
			<map>
				<entry key="9" value="商务座" />
				<entry key="p" value="特等座" />
				<entry key="M" value="一等座" />
				<entry key="O" value="二等座" />
				<entry key="6" value="高级软卧" />
				<entry key="4" value="软卧" />
				<entry key="3" value="硬卧" />
				<entry key="2" value="软座" />
				<entry key="1" value="硬座" />
				<entry key="-1" value="无座" />
			</map>
		</property>
		<property name="trainPriorityMap">
			<map>
				<entry key="L" value="40" />
				<entry key="K" value="50" />
				<entry key="T" value="60" />
				<entry key="Z" value="70" />
				<entry key="D" value="71" />
				<entry key="G" value="80" />
			</map>
		</property>
		<property name="trainRang">
			<map>
				<entry key="全天" value="00:00--24:00" />
				<entry key="上午" value="06:00--12:00" />
				<entry key="下午" value="12:00--18:00" />
				<entry key="晚上" value="18:00--24:00" />
				<entry key="凌晨" value="00:00--06:00" />
			</map>
		</property>
		<property name="cardType">
			<map>
				<entry key="二代身份证" value="1" />
				<entry key="一代身份证" value="2" />
				<entry key="港澳通行证" value="C" />
				<entry key="台湾通行证" value="G" />
				<entry key="护照" value="B" />
			</map>
		</property>
		<property name="ticketType">
			<map>
				<entry key="成人票" value="1" />
				<entry key="儿童票" value="2" />
				<entry key="学生票" value="3" />
				<entry key="残军票" value="4" />
			</map>
		</property>
		<property name="berth">
			<map>
				<entry key="默认" value="0" />
				<entry key="下铺" value="1" />
				<entry key="中铺" value="2" />
				<entry key="上铺" value="3" />
			</map>
		</property>
	</bean>

</beans>