<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 登录 -->
	<bean id="query" class="com.cxjava.ticket.bean.Query">
		<!-- 请求头信息 -->
		<property name="headers" ref="headers" />
		<property name="httpClient" ref="httpClient" />
		<property name="isProxy" value="${isProxy}" />
		<property name="proxyIp" value="${proxyIp}" />
		<property name="proxyPort" value="${proxyPort}" />
		<property name="queryReferer" value="https://dynamic.12306.cn/otsweb/order/querySingleAction.do?method=init" />
		<property name="confirmReferer" value="https://dynamic.12306.cn/otsweb/order/confirmPassengerAction.do?method=init" />
		<property name="stationNameUrl" value="${stationNameUrl}" />
		<property name="stationOpen" value="${station.open}" />
		<property name="stationEnd" value="${station.end}" />
		<property name="queryTicketPageUrl" value="${queryTicketPageUrl}" />
		<property name="queryFormUrl" value="${queryFormUrl}" />
		<property name="submitOrderRequestUrl" value="${submitOrderRequestUrl}" />
		<property name="orderCodeUrl" value="${orderCodeUrl}" />
		<property name="sleepOrder" value="${sleep.order}" />
		<property name="sleepCode" value="${sleep.code}" />
		<property name="fromStation" value="${fromStation}" />
		<property name="goTime" value="${goTime}" />
		<property name="toStation" value="${toStation}" />
		<property name="trainDate" value="${trainDate}" />
		<property name="citys" value="${citys}" />
		<property name="trainCode" value="${trainCode}" />
		<property name="seatType" value="${seatType}" />
		<property name="loginInfoOpen" value="${loginInfo.open}" />
		<property name="loginInfoEnd" value="${loginInfo.end}" />
		<property name="queryStaticParameters">
			<map><!-- #号之前为参数顺序，请以11开始，即11为第一个参数 -->
				<entry key="11#method" value="queryLeftTicket" />
				<entry key="15#orderRequest.train_no" value="" />
				<entry key="16#trainPassType" value="QB" />
				<entry key="17#trainClass" value="QB#D#Z#T#K#QT#" />
				<entry key="18#includeStudent" value="00" />
				<entry key="19#seatTypeAndNum" value="" />
			</map>
		</property>
		<property name="queryDynamicParameters">
			<map>
				<entry key="12#orderRequest.train_date" value="trainDate" />
				<entry key="13#orderRequest.from_station_telecode" value="fromStation" />
				<entry key="14#orderRequest.to_station_telecode" value="toStation" />
				<entry key="20#orderRequest.start_time_str" value="goTime" />
			</map>
		</property>
		<property name="confirmStaticParameters">
			<map><!-- #号之前为参数顺序，请以11开始，即11为第一个参数 -->
				<entry key="13#seattype_num" value="" />
				<entry key="21#single_round_type" value="1" />
				<entry key="22#train_pass_type" value="QB" />
				<entry key="23#train_class_arr" value="QB#D#Z#T#K#QT#" />
				<entry key="16#include_student" value="00" />
			</map>
		</property>
		<property name="confirmMapDynamicParameters">
			<map>
				<entry key="12#train_date" value="trainDate" />
				<entry key="14#from_station_telecode" value="fromStationCode" />
				<entry key="15#to_station_telecode" value="toStationCode" />
				<entry key="17#from_station_telecode_name" value="fromStation" />
				<entry key="18#to_station_telecode_name" value="toStation" />
				<entry key="19#round_train_date" value="trainDate" />
				<entry key="20#round_start_time_str" value="goTime" />
				<entry key="24#start_time_str" value="goTime" />
			</map>
		</property>
		<property name="confirmArrayDynamicParameters">
			<map>
				<entry key="11#station_train_code" value="1" />
				<entry key="25#lishi" value="2" />
				<entry key="26#train_start_time" value="3" />
				<entry key="27#trainno4" value="4" />
				<entry key="28#arrive_time" value="7" />
				<entry key="29#from_station_name" value="8" />
				<entry key="30#to_station_name" value="9" />
				<entry key="31#from_station_no" value="10" />
				<entry key="32#to_station_no" value="11" />
				<entry key="33#ypInfoDetail" value="12" />
				<entry key="34#mmStr" value="13" />
				<entry key="35#locationCode" value="14" />
			</map>
		</property>
	</bean>

</beans>