<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	
	<!-- 登录 -->
	<bean id="login" class="com.cxjava.ticket.bean.Login">
		<!-- 请求头信息 -->
		<property name="headers">
			<map>
				<entry key="Referer" value="https://dynamic.12306.cn/otsweb/order/querySingleAction.do?method=init" />
				<entry key="Accept-Encoding" value="gzip,deflate,sdch" />
				<entry key="Accept-Language" value="en-US,en;q=0.8" />
				<entry key="Accept-Charset" value="ISO-8859-1,utf-8;q=0.7,*;q=0.3" />
				<entry key="Accept" value="application/json, text/javascript, */*" />
			</map>
		</property>
		<property name="loginRandomCodeUrl" value="${loginRandomCodeUrl}" />
		<property name="loginCodeUrl" value="${loginCodeUrl}" />
		<property name="loginUrl" value="${loginUrl}" />
		<property name="randomCodeOpen" value="${randomCodeOpen}" />
		<property name="randomCodeClose" value="${randomCodeClose}" />
		<property name="httpClient" ref="httpClient"/>
	</bean>
	<!-- <bean id="clientCore" class="com.cxjava.ticket.bean.ClientCore">
		<property name="params">
			<map>
				<entry key="User-Agent" value="Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.52 Safari/537.17" />
				<entry key="http.socket.timeout">
					<value type="java.lang.Integer">1000</value>
				</entry>
				<entry key="http.connection.timeout">
					<value type="java.lang.Integer">1000</value>
				</entry>
				<entry key="http.connection-manager.timeout">
					<value type="java.lang.Long">3600</value>
				</entry>
			</map>
		</property>
		<property name="isProxy" value="${isProxy}" />
		<property name="proxyIp" value="${proxyIp}" />
		<property name="proxyPort" value="${proxyPort}" />
		<property name="connectionManager" ref="connectionManager" />
	</bean> -->


</beans>