<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 登录 -->
	<bean id="query" class="com.cxjava.ticket.bean.Query">
		<!-- 请求头信息 -->
		<property name="headers" ref="headers" />
		<property name="httpClient" ref="httpClient" />
		<property name="isProxy" value="${isProxy}" />
		<property name="proxyIp" value="${proxyIp}" />
		<property name="proxyPort" value="${proxyPort}" />
		<property name="queryReferer" value="https://dynamic.12306.cn/otsweb/order/querySingleAction.do?method=init" />
		<property name="confirmReferer" value="https://dynamic.12306.cn/otsweb/order/confirmPassengerAction.do?method=init" />
		<property name="stationNameUrl" value="${stationNameUrl}" />
		<property name="stationOpen" value="${station.open}" />
		<property name="stationEnd" value="${station.end}" />
		<property name="queryTicketPageUrl" value="${queryTicketPageUrl}" />
		<property name="queryFormUrl" value="${queryFormUrl}" />
		<property name="submitOrderRequestUrl" value="${submitOrderRequestUrl}" />
		<property name="orderCodeUrl" value="${orderCodeUrl}" />
		<property name="sleepOrder" value="${sleep.order}" />
		<property name="sleepCode" value="${sleep.code}" />
		<property name="fromStation" value="${fromStation}" />
		<property name="goTime" value="${goTime}" />
		<property name="toStation" value="${toStation}" />
		<property name="trainDate" value="${trainDate}" />
		<property name="citys" value="${citys}" />
		<property name="queryStaticParameters">
			<map>
				<entry key="method" value="queryLeftTicket" />
				<entry key="includeStudent" value="00" />
				<entry key="orderRequest.train_no" value="" />
				<entry key="seatTypeAndNum" value="" />
				<entry key="trainClass" value="QB#D#Z#T#K#QT#" />
				<entry key="trainPassType" value="QB" />
			</map>
		</property>
		<property name="queryDynamicParameters">
			<map>
				<entry key="orderRequest.from_station_telecode" value="fromStation" />
				<entry key="orderRequest.start_time_str" value="goTime" />
				<entry key="orderRequest.to_station_telecode" value="toStation" />
				<entry key="orderRequest.train_date" value="trainDate" />
			</map>
		</property>
	</bean>

</beans>