<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 登录 -->
	<bean id="login" class="com.cxjava.ticket.bean.Login">
		<!-- 请求头信息 -->
		<property name="headers" ref="headers" />
		<property name="referer"
			value="https://dynamic.12306.cn/otsweb/order/querySingleAction.do?method=init" />
		<property name="loginRandomCodeUrl" value="${loginRandomCodeUrl}" />
		<property name="loginCodeUrl" value="${loginCodeUrl}" />
		<property name="loginFormUrl" value="${loginFormUrl}" />
		<property name="loginMainPageUrl" value="${loginMainPageUrl}" />
		<property name="randomCodeOpen" value="${randomCodeOpen}" />
		<property name="randomCodeClose" value="${randomCodeClose}" />
		<property name="loginInfoOpen" value="${loginInfo.open}" />
		<property name="loginInfoEnd" value="${loginInfo.end}" />
		<property name="httpClient" ref="httpClient" />
		<property name="staticParameters">
			<map><!-- #号之前为参数顺序，请以11开始，即11为第一个参数 -->
				<entry key="12#refundLogin" value="N" />
				<entry key="13#refundFlag" value="Y" />
				<entry key="15#nameErrorFocus" value="" />
				<entry key="17#passwordErrorFocus" value="" />
				<entry key="19#randErrorFocus" value="" />
			</map>
		</property>
		<property name="dynamicParameters">
			<map>
				<entry key="11#loginRand" value="loginRand" />
				<entry key="14#loginUser.user_name" value="username" />
				<entry key="16#user.password" value="password" />
				<entry key="18#randCode" value="captcha" />
			</map>
		</property>
		<property name="username" value="${login.username}" />
		<property name="password" value="${login.password}" />
		<property name="isProxy" value="${isProxy}" />
		<property name="proxyIp" value="${proxyIp}" />
		<property name="proxyPort" value="${proxyPort}" />
	</bean>

</beans>